<div class="col-md-4">
  <h3>Dashboard</h3>
  <hr>
  <h4>More about this idea</h4>
  <div class="panel panel-info">
    <div class="panel-heading">
      <p><%= @idea.idea %></p>
  </div>
</div>
</div>




<div class="col-md-8">

  <h4>Bright Ideas
    <a href="/ideas"><button class="btn btn-success " type="button" name="button">All Ideas</button></a>
    <a href="/logout" data-method="post"><button class="btn btn-danger pull-right" type="button" name="button">Logout</button></a></h3>
    <hr>
    <h3>People who like this idea</h3>
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Alias</th>
            <th>Name</th>
            <th>Email</th>
          </tr>
        </thead>
        <tbody>
          <% @users_who_like.each do |list| %>
          <tr>
            <td>
            <a href="/user/<%= list.user.id %>">
              <%= list.user.alias %>
            </td>
          </a>
            <td><%= list.user.name %></td>
            <td><%= list.user.email %></td>
          </tr>
          <% end %>
        </tbody>
      </table>



</div>
