<div class="col-md-8">
  <h3>Dashboard</h3>
  <div class="panel panel-info">
    <div class="panel-heading">
    <h1>Name: <%= @user.name %></h1>
    <h1>Alias: <%= @user.alias %></h1>
    <h1>Email: <%= @user.email %></h1>
  </div>
</div>

</div>




<div class="col-md-4">

  <h4>Bright Ideas
    <a href="/ideas"><button class="btn btn-success" type="button" name="button">All Ideas</button></a>
    <a href="/logout" data-method="post"><button class="btn btn-danger" type="button" name="button">Logout</button></a></h3>

  <div class="panel panel-success">
    <div class="panel-heading">
      <h1>Stats</h1>
  </div>
  <div class="panel-body">
    <div class="col-sm-6">
      Ideas Posted
      <h1><%= @user_ideas_total.count %></h1>
    </div>

    <div class="col-sm-6">
      Likes
      <h1><%= @user_likes_total.count %></h1>
    </div>


  </div>

</div>
